/*block 2*/
body{
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  background: var(--white);  
 
  }


  

  .section{
    padding-top: 94px;
      padding-bottom: 94px;
  }

  .list {
    @include list($jc: center, $ai: center);
    flex-wrap: wrap;
    list-style: none;
  }

  .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
    @include fonts(700, 28px, 33px, 00.03em);
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      @include fonts(700, 36px, 42px, 00.03em);
    }
  }
    

  // .header{
  //   border-bottom:  1px solid var(--lite-gray);
  //   display: flex;
  //   background: var(--white);

  //   }
