/*Block 1*/

:root{
    --white: #FFFFFF;
    --hard-white:#EEEEEE;
    --blue: #2196F3;
    --hard-bule: #188CE8;
    --black: #212121;
    --hard-black:#000000;
    --gray: #757575;
    --hard-gray:#2F303A;
    --light-gray:#F5F4FA;
    --lite-gray:#ECECEC;
    --social-gray:#AFB1B8;
    --gap:30px
  }
  