/*Block 1*/

:root{
    --white: #FFFFFF;
    --hard-white:#EEEEEE;
    --blue: #2196F3;
    --hard-bule: #188CE8;
    --black: #212121;
    --hard-black:#000000;
    --gray: #757575;
    --hard-gray:#2F303A;
    --light-gray:#F5F4FA;
    --lite-gray:#ECECEC;
    --social-gray:#AFB1B8;
    --gap:30px


    /*fonts*/
  --main-font: 'Roboto', 'Sans-Serif';
  --secondary-font: 'Raleway', 'Sans-Serif';

  /*colors:*/
  /*background*/
  --main-bg-cl: #f5f5f5;
  --secondary-bg-cl: #f5f4fa;
  --additional-bg-cl: #ffffff;
  --hero-bg-cl: #2f303a;
  --footer-soc-bgcl: rgba(255, 255, 255, 0.1);
  --active-cards-bg: rgba(33, 150, 243, 0.9);



  /*text*/
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --additional-txt-cl: #ffffff;
  --active-link-txt: #2196f3;
  --main-link-cl: #000000;
  --address-link-cl: rgba(255, 255, 255, 0.6);
  --main-bt-act: #188ce8;
  --icons-cl: #afb1b8;

  --close-btn-border: rgba(0, 0, 0, 0.1);
  --border-cl: #ececec;
  --modal-border-cl: rgba(33, 33, 33, 0.2);
  /*mesh properties*/
  --gap: 30px;
  --items: 3;
  --indent: 30px;
  }
  