.specifications {
  align-items: baseline;
}

.specifications__item {
  max-width: 450px;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    @include item(3, var(--gap), 4);
  }
}

.specifications__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondary-bg-cl);
  border-radius: 4px;
}

.specifications__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;


  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.specifications__text {
  @include fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}
