
 .portfolio__section{
  @include section();
  @media screen and (min-width: 1200px) {
    @include section (94px, 94px);
  }
 }
 
 
 

  .keyboard{
    display: flex;
  gap: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;

  list-style: none;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  
    list-style: none;
    margin-bottom: 50px;
  }

    }

    .btn{
        padding: 6px 25px 6px 25px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
      line-height:1.6;
      text-align: center;
      cursor: pointer;

      &:hover, &:focus{
        background-color: var(--blue) ;
        color: var(--white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
      }
      
      .about__button{
      color: var(--black);
      background: var(--light-gray);
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      }
      
      .gallery {
        @media screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
        }
         //     @media screen and (min-width:1200px) {
        //     @include list (center, center);
        //   }
        // }
      }
      
      /* cards */
      .gallery__card {
        display: flex;
        max-width: 450px;
        background-color: var(--additional-bg-cl);
        margin-bottom: 30px;
      
        @media screen and (min-width: 768px) {
          @include item(1, var(--gap), 2);
          margin-bottom: 0;
          // flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        }
      
        @media screen and (min-width: 1200px) {
          @include item(2, var(--gap), 3);
        }
      }
      
      .gallery__card:hover .card__overlay {
        transform: translateY(0);
      }
      
      .card__link:focus {
        outline: none;
        .card__overlay {
          transform: translateY(0);
        }
      }
      
      .card__thumb {
        position: relative;
        overflow: hidden;
      }
      
      .card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
      
        width: 100%;
        height: 100%;
        padding: 77px 24px;
      
        
        overflow-y: scroll;
      
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        }
      
        @media screen and (min-width: 768px){
          padding-top: 63px;
          padding-bottom: 63px;
        }
      
        @include transition(transform);
      
        background-color: var(--active-cards-bg);
      }
      
      .overlay__desc {
        @include fonts($fs: 18px, $lh: 28px, $ls: 00.03em);
        // font-size: 18px;
        // line-height: calc(28/18);
        color: var(--additional-txt-cl);
      }
      
      .card__box {
        padding: 20px 24px;
        flex-grow: 1;
      
        border: 1px solid var(--border-cl);
        border-top: none;
      }
      
      .card__subtitle {
        margin-bottom: 4px;
      
        @include fonts(700, 18px, 36px, 0.06em);
        // font-size: 18px;
        // line-height: calc(36 / 18);
        // letter-spacing: 0.06em;
      
        color: var(--main-txt-cl);
      }
      
      .card__text {
        @include fonts($fs: 16px, $lh: 30px, $ls: 00.03em);
        // font-size: 16px;
        // line-height: calc(30 / 16);
        // letter-spacing: 0.03em;
      
        color: var(--secondary-txt-cl);
      }
      
      .card__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
      
        @include transition(box-shadow);
        &:hover,
        &:focus {
          .card__box {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          }
        }
      }
          
