.team {
  background-color: var(--secondary-bg-cl);
}

.team__list {
  display: block;

  @media screen and (min-width: 768px) {
    @include list(center, center);
  }
}

.list__card {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    @include item(1, var(--gap), 2);
  }

  @media screen and (min-width: 1200px) {
    @include item(3, var(--gap), 4);
  }
  // --items: 4;
  // flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

  background-color: var(--additional-bg-cl);
}

.card__wrapper {
  padding: 30px 0;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__subject {
  display: block;
  margin-bottom: 10px;
  text-align: center;

  @include fonts(500, 16px, 19px, 00.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: calc(19 / 16);
  // letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.card__desc {
  text-align: center;

  @include fonts($fs: 16px, $lh: 19px, $ls: 00.03em);
  // font-size: 16px;
  // line-height: calc(19 / 16);
  // letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}